.superscript {
  line-height: 1;
  font-size: 13px;
  text-transform: uppercase;
  color: red;
  top: -1em;
}

.style-uppercase {
  font-size: 13px;
  text-transform: uppercase;
}

.height-full {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.flex-1 {
  flex: 1;
}
